.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mat-card {
    width: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 640px) {
      width: 473px;
    }
    @media screen and (max-width: 470px) {
      width: 370px;
    }
  }

  .tables {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
    @media screen and (max-width: 1800px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }

    .table {
      padding: 5px;
    }
  }
}
