<div class="container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="http://orion-m2m.com/static/images/glogo.png" alt="">
        <span class="example-spacer"></span>
        <h4 class="userName">{{userName}}</h4>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <div class="side-nav">
                <h2>Main menu</h2>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                </ul>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="mat-main-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>