<div class="wrapper">
    <div *ngFor="let entry of modalData | keyvalue">
        <div *ngIf="modalData[entry.key]">
            <div *ngFor="let title of titles[entry.key]">
                <div class="field" *ngIf="title === 'created'">
                    <b>{{title}}:</b>
                    <p>{{modalData[entry.key][title] | date: 'short'}}</p>
                </div>
                <div class="field" *ngIf="title !== 'created'">
                    <b>{{title}}:</b>
                    <p>{{modalData[entry.key][title]}}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="closeModal()">Go back</button>
</div>