<div class="header">
    
</div>
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon color="primary">menu</mat-icon>
    </button>
    <img src="http://orion-m2m.com/static/images/glogo.png" alt="">
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon color="primary">favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon color="primary">share</mat-icon>
    </button>
</mat-toolbar>